<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Neighbor</title>
</head>
<body>
    ID: <span>{{.NeighborID}}</span>
    <br><br>
    Username
    <br>
    <input type="text" id="usernameText" value="{{.Username}}">
    <br><br>
    Password
    <br>
    <input type="password" id="passwordText" value="{{.Password}}">
    <br> <br>
    Location
    <br>
    <input type="text" id="locationText" value="{{.Location}}">
    <br><br>
    Email Address
    <br>
    <input type="text" id="emailText" value="{{.Email}}">
    <br><br>
    Phone
    <br>
    <input type="text" id="phoneText" value="{{.Phone}}">
    <br><br>
    <button type="submit" onclick="updateNeighbor"></button>
</body>
<script>
    var updateNeighbor = function(){
        var payload = {}
        payload.Username = document.getElementById("usernameText").value;
        payload.Password = document.getElementById("passwordText").value;
        payload.Location = document.getElementById("locationText").value;
        payload.Email = document.getElementById("emailText").value;
        payload.Phone = document.getElementById("phoneText").value;
        console.log(payload);
        var request = new XMLHttpRequest();
        request.open("PUT", "/v1/neighbors/", true)
        request.onreadystatechange = function() {
            if (request.status === request.DONE) {
                console.log(request.respone);
            }
        }
        request.send(payload)
    };
</script>
</html>