<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Samaritan Profile</title>
</head>
<body>
    <form action="/samaritans/" method="POST">
        Username
        <br>
        <input type="text" id="usernameText">
        <br><br>
        Password
        <br>
        <input type="password" id="passwordText">
        <br> <br>
        Location
        <br>
        <input type="text" id="locationText">
        <br><br>
        Email Address
        <br>
        <input type="text" id="emailText">
        <br><br>
        Phone
        <br>
        <input type="text" id="phoneText">
        <br><br>
        <button type="submit"></button>
    </form>
</body>
</html>