<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Available Samaritans</title>
</head>
<body>
    <table>
        <thead>
            <th>
                Username
            </th>
            <th>
                Location
            </th>
        </thead>
        <tbody>
            {{range $index, $element := . }}
            <tr>
                <td>{{ $element.Username }}</td>
            </tr>
            <tr>
                <td>{{ $element.Location }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>