{{define "main-content"}}
<h1>Update Shelter</h1>
<br>
<form id="editForm">
    <input type="hidden" name="id" value="{{.User.ID}}">
    <div class="form-group">
        <label for="shelterName">User Name</label>
        <input type="text" class="form-control" name="name" value="{{.User.Name}}" id="shelterName">
    </div>
    <div class="form-group">
        <label for="shelterEmail">Email</label>
        <input type="text" class="form-control" name="email" value="{{.User.Email}}" id="shelterEmail">
    </div>
    <div class="form-group">
        <label for="shelterStreet">Street Address</label>
        <input type="text" class="form-control" name="street" value="{{.User.Street}}" id="shelterStreet">
    </div>
    <div class="form-group">
        <label for="shelterCity">City</label>
        <input type="text" class="form-control" name="city" value="{{.User.City}}" id="shelterCity">
    </div>
    <div class="form-group">
        <label for="shelterState">State</label>
        <input type="text" class="form-control" name="state" value="{{.User.State}}" id="shelterState">
    </div>
    <div class="form-group">
        <label for="shelterZip">Postal Code</label>
        <input type="text" class="form-control" name="postalCode" id="shelterZip" value="{{.User.PostalCode}}">
    </div>
    <div class="form-group">
        <label for="shelterCountry">Country</label>
        <input type="text" class="form-control" name="country" value="{{.User.Country}}" id="shelterCountry">
    </div>
    <button type="button" class="btn btn-primary" onclick="updateShelter()">Update Shelter</button>
</form>
{{end}}

{{define "script-content"}}
<script type="text/javascript">
    var updateShelter = function () {
        var req = new XMLHttpRequest();
        var formElements = document.getElementById('editForm').elements;
        var parts = window.location.pathname.split("/");
        parts.pop();
        var putPath = window.location.origin + parts.join("/");
        var elementUpdate = {
            Name: formElements.namedItem('name').value,
            Email: formElements.namedItem('email').value,
            Street: formElements.namedItem('street').value,
            City: formElements.namedItem('city').value,
            State: formElements.namedItem('state').value,
            PostalCode: formElements.namedItem('postalCode').value,
            Country: formElements.namedItem('country').value,
            ID: Number(formElements.namedItem('id').value),
        };

        req.open("PUT", putPath);
        req.onreadystatechange = function () {
            return handleAsyncResponse(
                req,
                putPath,
                "You don't have permission to update this shelter!"
            );
        };

        req.send(JSON.stringify(elementUpdate));

        return false;
    };
</script>
{{end}}