<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighbors: Shelter Info</title>
</head>

<body>
    <button onclick="logout()">Log Out</button>
    <h2>Shelter Info</h2>
    <strong>ID:</strong>
    {{.Shelter.ID}}
    <br>
    <strong>Shelter Name:</strong>
    {{.Shelter.Name}}
    <br>
    <strong>Address:</strong>
    {{.Shelter.Street}}, {{.Shelter.City}}, {{.Shelter.State}}, {{.Shelter.Country}}, {{.Shelter.PostalCode}}
    <br>
    <button><a href="./{{.Shelter.ID}}/edit">Edit</a></button>
    <button onclick="deleteShelter()">Delete</button>
    <table>
        <thead>
            <th>
                Category
            </th>
            <th>
                Gender
            </th>
            <th>
                Size
            </th>
            <th>
                Quantity
            </th>
            <th>
                Status
            </th>
        </thead>
        <tbody>
            {{range $index, $element := .Items }}
            <td>{{ $element.Category }}</td>
            <td>{{ $element.Gender }}</td>
            <td>{{ $element.Size }}</td>
            <td>{{ $element.Quantity }}</td>
            <td>{{ $element.Status }}</td>
            <td><button onclick="e => viewItem(e)" id="{{ $element.ID }}">View</button></td>
            {{end}}
        </tbody>
    </table>
</body>
<script>
    var logout = function () {
        var req = new XMLHttpRequest();
        var homePage = window.location.origin;

        req.open("DELETE", homePage + '/session/logout');
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 204) {
                window.location = homePage;
                return false;
            } else if (req.readyState === 4 && req.status !== 204) {
                alert("Failed to log out!");
                return false;
            }
        }
        req.send();
    }

    var viewItem = function (e) {
        e.preventDefault();
        var itemId = e.target.id;
        window.location = window.location + '/items/' + itemId;
    };

    var editShelter = function () {
        window.location = window.location + '/edit';
    };

    var deleteShelter = function () {
        var req = new XMLHttpRequest();
        req.open("DELETE", window.location)
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 204) {
                window.location = window.location.origin + '/shelters';
            } else if (req.readyState === 4 && req.status !== 204) {
                alert("Failed to delete shelter!");
            }
        }
        req.send()
    };
</script>

</html>