<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighbors: All Shelters</title>
</head>

<body>
    <button onclick="logout()">Log Out</button>
    <h1>All Shelters</h1>
    <table>
        <thead>
            <th>
                Shelter Name
            </th>
            <th>
                Address
            </th>
        </thead>
        <tbody>
            {{range $index, $element := . }}
            <tr>
                <td>{{ $element.Name }}</td>
                <td>{{ $element.Street}}, {{ $element.City }}, {{ $element.State }}, {{ $element.Country }},
                    {{ $element.PostalCode }}</td>
                <td><a href="./{{ $element.ID }}">View</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
<script>
    var logout = function () {
        var req = new XMLHttpRequest();
        var homePage = window.location.origin;

        req.open("DELETE", homePage + '/session/logout');
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 204) {
                window.location = homePage;
                return false;
            } else if (req.readyState === 4 && req.status !== 204) {
                alert("Failed to log out!");
                return false;
            }
        }
        req.send();
    }
</script>

</html>