<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighbors: Shelter Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<h1>Shelter Login</h1>

<body>
    <form id="loginForm">
        <div class="form-group">
            <label for="shelterName">Shelter Name</label>
            <input type="text" id="shelterName" class="form-control" name="name" placeholder="Enter Shelter Name">
        </div>
        <div class="form-group">
            <label for="shelterPassword">Password</label>
            <input type="password" id="shelterPassword" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="button" class="btn btn-primary" onclick="login()">Login</button>
    </form>
</body>
<script>
    var login = function () {
        var req = new XMLHttpRequest();
        req.withCredentials = true;
        var formElements = document.getElementById('loginForm').elements;
        var elementUpdate = {
            Name: formElements.namedItem('name').value,
            Password: formElements.namedItem('password').value,
        };

        req.open("POST", window.location.origin + '/session/login/');
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 200) {
                var response = JSON.parse(req.response);
                window.location = window.location.origin + '/shelters/' + response.ID;
                return false;
            } else if (req.readyState === 4 && req.status !== 200) {
                alert("Failed to login!");
                return false;
            }
        };
        req.send(JSON.stringify(elementUpdate));
        return false;
    }
</script>

</html>