{{define "main-content"}}
<h1>Update Item Request</h1>
<br>
<form id="editForm">
    <input type="hidden" name="id" value={{.Item.ID}}>
    <input type="hidden" name="shelterId" value={{.Item.ShelterID}}>
    <div class="form-group">
        <label for="itemCategory">Category</label>
        <select id="itemCategory" class="form-control" name="category">
            <option value="SOCKS">Socks</option>
            <option value="UNDERWEAR">Underwear</option>
            <option value="BLANKETS">Blankets</option>
        </select>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" name="gender" value="FEMALE" id="itemGenderFemale">
        <label for="itemGenderFemale" class="form-check-label">Female</label>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" name="gender" value="MALE" id="itemGenderMale">
        <label for="itemGenderMale" class="form-check-label">Male</label>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" name="gender" value="UNISEX" id="itemGenderUnisex">
        <label for=" itemGenderUnisex" class="form-check-label">Unisex</label>
    </div>
    <div class="form-group">
        <label for="itemSize">Size</label>
        <input type="text" class="form-control" name="size" value={{.Item.Size}} id="itemSize">
    </div>
    <div class="form-group">
        <label for="itemQuantity">Quantity</label>
        <input type="number" class="form-control" name="quantity" value={{.Item.Quantity}} id="itemQuantity">
    </div>
    <div class="form-group">
        <label for="itemStatus">Status</label>
        <select id="itemStatus" class="form-control" name="status">
            <option value="OPEN">Open</option>
            <option value="CLAIMED">Claimed</option>
            <option value="DELIVERED">Delivered</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" onclick="updateItem()">Update Item</button>
</form>
{{end}}

{{define "script-content"}}
<script type="text/javascript">
    var updateItem = function () {
        var req = new XMLHttpRequest();
        var formElements = document.getElementById('editForm').elements;
        var parts = window.location.pathname.split("/");
        parts.pop();
        var putPath = window.location.origin + parts.join("/");
        var elementUpdate = {
            Category: formElements.namedItem('category').value,
            Gender: formElements.namedItem('gender').value,
            Quantity: Number(formElements.namedItem('quantity').value),
            Size: formElements.namedItem('size').value,
            Status: formElements.namedItem('status').value,
            ID: Number(formElements.namedItem('id').value),
            ShelterID: Number(formElements.namedItem('shelterId').value),
        };

        req.open("PUT", putPath);
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 204) {
                window.location = putPath;
                return false;
            } else if (req.readyState === 4 && req.status !== 204) {
                alert("Failed to update item!");
                return false;
            }
        };

        req.send(JSON.stringify(elementUpdate));

        return false;
    };
</script>
{{end}}