<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item Description</title>
</head>

<body>
    <button onclick="logout()">Log Out</button>
    <input type="hidden" id="associatedShelter" value="{{.ShelterID}}" />
    <h2>Item Request</h2>
    <strong>Category:</strong>
    {{.Category}}
    <br>
    <strong>Gender:</strong>
    {{.Gender}}
    <br>
    <strong>Size:</strong>
    {{.Size}}
    <br>
    <strong>Quantity:</strong>
    {{.Quantity}}
    <br>
    <strong>Status:</strong>
    {{.Status}}
    <br>
    <button onclick="viewShelter()">View Shelter</button>
    <button><a href="./{{.ID}}/edit">Edit</a></button>
    <button onclick="deleteItem()">Delete</button>
</body>
<script>
    var logout = function () {
        var req = new XMLHttpRequest();
        var homePage = window.location.origin;

        req.open("DELETE", homePage + '/session/logout');
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 204) {
                window.location = homePage;
                return false;
            } else if (req.readyState === 4 && req.status !== 204) {
                alert("Failed to log out!");
                return false;
            }
        }
        req.send();
    }

    var viewShelter = function () {
        var shelterId = doucment.getElementById('associatedShelter').value;
        window.location = window.location + '/shelters/' + shelterId;
    };

    var deleteItem = function () {
        var req = new XMLHttpRequest();
        req.open("DELETE", window.location)
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 204) {
                window.location = window.location.origin + '/items';
            } else if (req.readyState === 4 && req.status !== 204) {
                alert("Failed to delete item!");
            }
        }
        req.send()
    }
</script>

</html>