<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighbors: Item Requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Neighbors</a>
        {{if .ShelterSession}}
        <span class="navbar-text">Welcome, {{.ShelterSession.ShelterName}}</span>
        <button class="btn btn-small btn-outline-primary" onclick="logout()">Log Out</button>
        {{else}}
        <a class="btn btn-small btn-outline-primary" role="button" href="/session/login">Login</a>
        {{end}}
    </nav>
    <h1>All Item Requests</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <th>
                Category
            </th>
            <th>
                Gender
            </th>
            <th>
                Size
            </th>
            <th>
                Quantity
            </th>
            <th>
                Status
            </th>
            <th>
                <a class="btn btn-small btn-outline-primary" role="button" href="/items/new">New Item</a>
            </th>
        </thead>
        <tbody>
            {{range $index, $element := .Items }}
            <td>{{ $element.Category }}</td>
            <td>{{ $element.Gender }}</td>
            <td>{{ $element.Size }}</td>
            <td>{{ $element.Quantity }}</td>
            <td>{{ $element.Status }}</td>
            <td><a href="./{{ $element.ID }}" role="button" class="btn btn-info">View</a></td>
            {{end}}
        </tbody>
    </table>
</body>
<script>
    var logout = function () {
        var req = new XMLHttpRequest();
        var homePage = window.location.origin;

        req.open("DELETE", homePage + '/session/logout');
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 204) {
                window.location = homePage;
                return false;
            } else if (req.readyState === 4 && req.status !== 204) {
                alert("Failed to log out!");
                return false;
            }
        }
        req.send();
    }
</script>

</html>