{{define "main-content"}}
<h1>All Item Requests</h1>
<br>
<table class="table table-striped">
    <thead class="thead-dark">
        <th>Category</th>
        <th>Gender</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>
            <a class="btn btn-small btn-outline-primary" role="button" href="/items/new">New Item</a>
        </th>
    </thead>
    <tbody>
        {{range $index, $element := .Items }}
        <tr>
            <td>{{ $element.Category }}</td>
            <td>{{ $element.Gender }}</td>
            <td>{{ $element.Size }}</td>
            <td>{{ $element.Quantity }}</td>
            <td>{{ $element.Status }}</td>
            <td><a href="./{{ $element.ID }}" role="button" class="btn btn-info">View</a></td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}

{{define "script-content"}}{{end}}