<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighbors: Item Requests</title>
</head>

<body>
    <h1>All Item Requests</h1>
    <table>
        <thead>
            <th>
                Category
            </th>
            <th>
                Gender
            </th>
            <th>
                Size
            </th>
            <th>
                Quantity
            </th>
            <th>
                Status
            </th>
        </thead>
        <tbody>
            {{range $index, $element := . }}
            <td>{{ $element.Category }}</td>
            <td>{{ $element.Gender }}</td>
            <td>{{ $element.Size }}</td>
            <td>{{ $element.Quantity }}</td>
            <td>{{ $element.Status }}</td>
            <td><a href="./{{ $element.ID }}">View</a></td>
            {{end}}
        </tbody>
    </table>
</body>

</html>