<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Item</title>
</head>

<body>
    <button onclick="logout()">Log Out</button>
    <h1>Item Creation Form</h1>

    <form id="createForm">
        Category
        <br>
        <input type="text" name="category">
        <br><br>
        Gender
        <br>
        <div>
            <input type="radio" name="gender" value="male">
            Male
            <br>
            <input type="radio" name="gender" value="female">
            Female
        </div>
        <br>
        Size
        <br>
        <input type="text" name="size">
        <br> <br>
        Quantity
        <br>
        <input type="text" name="quantity">
        <br><br>
        <button type="button" onclick="createItem()">Create Item</button>
    </form>
</body>
<script>
    var logout = function () {
        var req = new XMLHttpRequest();
        var homePage = window.location.origin;

        req.open("DELETE", homePage + '/session/logout');
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 204) {
                window.location = homePage;
                return false;
            } else if (req.readyState === 4 && req.status !== 204) {
                alert("Failed to log out!");
                return false;
            }
        }
        req.send();
    }

    var createItem = function () {
        var req = new XMLHttpRequest();
        var formElements = document.getElementById('createForm').elements;
        var elementUpdate = {
            Category: formElements.namedItem('category').value,
            Gender: formElements.namedItem('gender').value,
            Quantity: Number(formElements.namedItem('quantity').value),
            Size: formElements.namedItem('size').value,
            Status: "OPEN",
        };

        req.open("POST", window.location.origin + '/items/');
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 200) {
                var response = JSON.parse(req.response);
                window.location = window.location.origin + '/items/' + response.ID;
                return false;
            } else if (req.readyState === 4 && req.status !== 200) {
                alert("Failed to create item!");
                return false;
            }
        };
        req.send(JSON.stringify(elementUpdate));
        return false;
    }
</script>

</html>