<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Item</title>
</head>
<body>
    <form action="/items/" method="POST">
        Category
        <br>
        <input type="text" id="categoryText">
        <br><br>
        Gender
        <br>
        <div>            
            <input type="radio" name="gender" value="male">
            Male
            <br>
            <input type="radio" name="gender" value="female">
            Female
        </div>
        <br>
        Size
        <br>
        <input type="text" id="sizeText">
        <br> <br>
        Quantity
        <br>
        <input type="text" id="quantityText">
        <br><br>
        Dropoff Location
        <br>
        <input type="text" id="locationText">
        <br><br>
        <button type="submit"></button>
    </form>
</body>
</html>