<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item Description</title>
</head>
<body>
    <h2>Item Request Detail</h2>
    <strong>Category:</strong>
    {{.Category}}
    <br>
    <strong>Gender:</strong>
    {{.Gender}}
    <br>
    <strong>Size:</strong>
    {{.Size}}
    <br>
    <strong>Quantity:</strong>
    {{.Quantity}}
    <br>
    <strong>Dropoff Location:</strong>
    {{.DropoffLocation}}
    <strong>ID:</strong>
    {{.ItemID}}
</body>
</html>