{{define "main-content"}}
<h1>Shelter Registration</h1>
<br>
<form id="createForm">
    <fieldset class="form-group">
        <legend>Account to Create</legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="userTypeShelter" value=1
                onclick="toggleRequiredFormFields()">
            <label class="form-check-label" for="type">Shelter</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="userTypeSamaritan" value=2
                onclick="toggleRequiredFormFields()">
            <label class="form-check-label" for="type">Samaritan (Donor)</label>
        </div>
    </fieldset>
    <div class="form-group" id="shelterName">
        <label for="shelterName">User Name (or Shelter Name)</label>
        <input type="text" class="form-control" name="name" placeholder="User Name">
    </div>
    <div class="form-group" id="shelterEmail">
        <label for="shelterEmail">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group" id="shelterStreet">
        <label for="shelterStreet">Street Address</label>
        <input type="text" class="form-control" name="street" placeholder="Street Address">
    </div>
    <div class="form-group" id="shelterPassword">
        <label for="shelterPassword">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-group" id="shelterCity">
        <label for="shelterCity">City</label>
        <input type="text" class="form-control" name="city" placeholder="City">
    </div>
    <div class="form-group" id="shelterState">
        <label for="shelterState">State</label>
        <input type="text" class="form-control" name="state" placeholder="State">
    </div>
    <div class="form-group" id="shelterZip">
        <label for="shelterZip">Postal Code</label>
        <input type="text" class="form-control" name="postalCode" placeholder="Postal Code">
    </div>
    <button type="button" class="btn btn-primary" onclick="createShelter()">Register User</button>
</form>
{{end}}

{{define "script-content"}}
<script type="text/javascript">
    var createShelter = function () {
        var req = new XMLHttpRequest();
        req.withCredentials = true;
        var formElements = document.getElementById('createForm').elements;
        var elementUpdate = {
            Name: formElements.namedItem('name').value,
            Email: formElements.namedItem('email').value,
            Password: formElements.namedItem('password').value,
            Street: formElements.namedItem('street').value,
            City: formElements.namedItem('city').value,
            State: formElements.namedItem('state').value,
            PostalCode: formElements.namedItem('postalCode').value,
            UserType: formElements.namedItem('type').value,
        };

        req.open("POST", window.location.origin + '/shelters/');
        req.onreadystatechange = function () {
            return handleAsyncResponse(
                req,
                window.location.origin + '/shelters/' + JSON.parse(req.response).ID,
                "You do not have permission to create a shelter!"
            );
        };

        req.send(JSON.stringify(elementUpdate));

        return false;
    };

    var toggleRequiredFormFields = function () {
        var streetDiv = document.getElementById('shelterStreet');
        var cityDiv = document.getElementById('shelterCity');
        var stateDiv = document.getElementById('shelterState');
        var shelterZipDiv = document.getElementById('shelterZip');
        var type = Number(document.getElementById('createForm').elements.namedItem('type').value);

        if (type === 2) {
            streetDiv.hidden = true;
            cityDiv.hidden = true;
            stateDiv.hidden = true;
            shelterZipDiv.hidden = true;
        } else {
            streetDiv.hidden = false;
            cityDiv.hidden = false;
            stateDiv.hidden = false;
            shelterZipDiv.hidden = false;
        }
    }
</script>
{{end}}