{{define "main-content"}}
<h1 style="text-align: center">Welcome to Neighbors!</h1>
<br>
<h4 style="text-align: center">Get Started In Your Neighborhood Today!</h4>
<br>
<br>
<div style="text-align: center">
    <a href="/items/" class="btn btn-primary" role="button">View Items</a>
    <a href="/session/login/" class="btn btn-secondary" role="button">Login</a>
    <a href="/shelters/new" class="btn btn-info" role="button">Registration</a>
</div>
{{end}}

{{define "script-content"}}{{end}}